[Desktop Entry]
Type=Application
Exec=/usr/bin/hermes.py
Icon=/usr/share/pixmaps/hermes.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Hermes
Comment=Tray notifications for system upgrades
Categories=System;
