[Unit]
Description=System Upgrade Watchdog Service
After=network.target
Requires=dbus.service
Wants=logger.service

[Service]
Type=simple
ExecStart=/usr/libexec/hermesd.py
PIDFile=/run/hermesd.pid
StandardOutput=journal
StandardError=journal
Restart=on-failure
RuntimeDirectory=hermesd
RuntimeDirectoryMode=0755
Environment=HERMESD_LOGFILE=/var/log/hermes-daemon.log

[Install]
WantedBy=multi-user.target
